@import url(https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i);





body {
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Nunito', sans-serif;
  font-size: 4.25rem;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Nunito', sans-serif;
  font-size: 3rem;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  display: -webkit-inline-flex;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #00677f !important;
}
.bg-success {
  background-color: #fdbe10 !important;
}
.bg-info {
  background-color: #f5cd6c !important;
}
.bg-warning {
  background-color: #36a9bc !important;
}
.bg-danger {
  background-color: #d3d7d2 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #00677f !important;
  border-color: #00677f !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #002933 !important;
  border-color: #002933 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #002933 !important;
  border-color: #002933 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #6ac9cc !important;
  border-color: #6ac9cc !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #3caaae !important;
  border-color: #3caaae !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #3caaae !important;
  border-color: #3caaae !important;
}
.btn-info,
.btn-info:active {
  background-color: #f5cd6c !important;
  border-color: #f5cd6c !important;
  color: #5c4306 !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #5c4306 !important;
  background-color: #f0b524 !important;
  border-color: #f0b524 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #5c4306 !important;
  background-color: #f0b524 !important;
  border-color: #f0b524 !important;
}
.btn-success,
.btn-success:active {
  background-color: #fdbe10 !important;
  border-color: #fdbe10 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #bf8d02 !important;
  border-color: #bf8d02 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #bf8d02 !important;
  border-color: #bf8d02 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #36a9bc !important;
  border-color: #36a9bc !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #257481 !important;
  border-color: #257481 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #257481 !important;
  border-color: #257481 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #d3d7d2 !important;
  border-color: #d3d7d2 !important;
  color: #525a50 !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #525a50 !important;
  background-color: #abb3a9 !important;
  border-color: #abb3a9 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #525a50 !important;
  background-color: #abb3a9 !important;
  border-color: #abb3a9 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #001419;
  color: #001419;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #00677f;
  border-color: #00677f;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #00677f !important;
  border-color: #00677f !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #35989b;
  color: #35989b;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #6ac9cc;
  border-color: #6ac9cc;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #6ac9cc !important;
  border-color: #6ac9cc !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #ebab10;
  color: #ebab10;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #5c4306;
  background-color: #f5cd6c;
  border-color: #f5cd6c;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #5c4306 !important;
  background-color: #f5cd6c !important;
  border-color: #f5cd6c !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #a67a01;
  color: #a67a01;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #fdbe10;
  border-color: #fdbe10;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #fdbe10 !important;
  border-color: #fdbe10 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #1f626d;
  color: #1f626d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #36a9bc;
  border-color: #36a9bc;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #36a9bc !important;
  border-color: #36a9bc !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #9ea79c;
  color: #9ea79c;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #525a50;
  background-color: #d3d7d2;
  border-color: #d3d7d2;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #525a50 !important;
  background-color: #d3d7d2 !important;
  border-color: #d3d7d2 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #00677f !important;
}
.text-secondary {
  color: #6ac9cc !important;
}
.text-success {
  color: #fdbe10 !important;
}
.text-info {
  color: #f5cd6c !important;
}
.text-warning {
  color: #36a9bc !important;
}
.text-danger {
  color: #d3d7d2 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #001419 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #35989b !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #a67a01 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #ebab10 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #1f626d !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #9ea79c !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #f5cd6c;
}
.alert-warning {
  background-color: #36a9bc;
}
.alert-danger {
  background-color: #d3d7d2;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #00677f;
  border-color: #00677f;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #00677f;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #00ceff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #fff5da;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #92d5e0;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #fff;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
  -webkit-transform: rotate(45deg);
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #00677f;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
  -webkit-justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #00677f;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #00677f;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #00677f;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #00677f;
}
/* Headers*/
.offset-1 {
  margin-left: 8.33333%;
}
.offset-2 {
  margin-left: 16.66667%;
}
.offset-3 {
  margin-left: 25%;
}
.offset-4 {
  margin-left: 33.33333%;
}
.offset-5 {
  margin-left: 41.66667%;
}
.offset-6 {
  margin-left: 50%;
}
.offset-7 {
  margin-left: 58.33333%;
}
.offset-8 {
  margin-left: 66.66667%;
}
.offset-9 {
  margin-left: 75%;
}
.offset-10 {
  margin-left: 83.33333%;
}
.offset-11 {
  margin-left: 91.66667%;
}
@media (min-width: 576px) {
  .offset-sm-0 {
    margin-left: 0%;
  }
  .offset-sm-1 {
    margin-left: 8.33333%;
  }
  .offset-sm-2 {
    margin-left: 16.66667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.33333%;
  }
  .offset-sm-5 {
    margin-left: 41.66667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.33333%;
  }
  .offset-sm-8 {
    margin-left: 66.66667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.33333%;
  }
  .offset-sm-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 768px) {
  .offset-md-0 {
    margin-left: 0%;
  }
  .offset-md-1 {
    margin-left: 8.33333%;
  }
  .offset-md-2 {
    margin-left: 16.66667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.33333%;
  }
  .offset-md-5 {
    margin-left: 41.66667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.33333%;
  }
  .offset-md-8 {
    margin-left: 66.66667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.33333%;
  }
  .offset-md-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 992px) {
  .offset-lg-0 {
    margin-left: 0%;
  }
  .offset-lg-1 {
    margin-left: 8.33333%;
  }
  .offset-lg-2 {
    margin-left: 16.66667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.33333%;
  }
  .offset-lg-5 {
    margin-left: 41.66667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.33333%;
  }
  .offset-lg-8 {
    margin-left: 66.66667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.33333%;
  }
  .offset-lg-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 1200px) {
  .offset-xl-0 {
    margin-left: 0%;
  }
  .offset-xl-1 {
    margin-left: 8.33333%;
  }
  .offset-xl-2 {
    margin-left: 16.66667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.33333%;
  }
  .offset-xl-5 {
    margin-left: 41.66667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.33333%;
  }
  .offset-xl-8 {
    margin-left: 66.66667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.33333%;
  }
  .offset-xl-11 {
    margin-left: 91.66667%;
  }
}
.navbar-toggler {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: transparent;
  border: 1px solid transparent;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
}
.navbar-toggler:focus,
.navbar-toggler:hover {
  text-decoration: none;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.navbar-toggler-left {
  position: absolute;
  left: 1rem;
}
.navbar-toggler-right {
  position: absolute;
  right: 1rem;
}
@media (max-width: 575px) {
  .navbar-toggleable .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 576px) {
  .navbar-toggleable {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable .navbar-toggler {
    display: none;
  }
}
@media (max-width: 767px) {
  .navbar-toggleable-sm .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-sm > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .navbar-toggleable-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-sm .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-sm .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-sm > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-sm .navbar-collapse {
    display: none;
    width: 100%;
  }
  .navbar-toggleable-sm .navbar-toggler {
    display: none;
  }
}
@media (max-width: 1023px) {
  .navbar-toggleable-md .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-md > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 1024px) {
  .navbar-toggleable-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-md > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-md .navbar-toggler {
    display: none;
  }
}
@media (max-width: 1199px) {
  .navbar-toggleable-lg .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-lg > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 1200px) {
  .navbar-toggleable-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-lg > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-lg .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-lg .navbar-toggler {
    display: none;
  }
}
.navbar-toggleable-xl {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-toggleable-xl .navbar-nav .dropdown-menu {
  position: static;
  float: none;
}
.navbar-toggleable-xl > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-toggleable-xl .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.navbar-toggleable-xl .navbar-nav .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
}
.navbar-toggleable-xl > .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-toggleable-xl .navbar-collapse {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 100%;
}
.navbar-toggleable-xl .navbar-toggler {
  display: none;
}
.card-img {
  width: auto;
}
.menu .navbar.collapsed:not(.beta-menu) {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto!important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #00677f;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #00677f;
  border-bottom-color: #00677f;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #00677f !important;
  box-shadow: none!important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #6ac9cc !important;
  box-shadow: none !important;
}
.cid-ri7BXx1dWS {
  background-image: url("../../../assets/images/los-coches-creek-middle-16-2000x1333.jpg");
}
.cid-rcb8yDIvsY .navbar {
  background: #333333;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
}
.cid-rcb8yDIvsY .navbar-dropdown.bg-color.transparent.opened {
  background: #333333;
}
.cid-rcb8yDIvsY a {
  font-style: normal;
}
.cid-rcb8yDIvsY .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-rcb8yDIvsY .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rcb8yDIvsY .nav-item:focus,
.cid-rcb8yDIvsY .nav-link:focus {
  outline: none;
}
.cid-rcb8yDIvsY .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rcb8yDIvsY .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-rcb8yDIvsY .menu-logo {
  margin-right: auto;
}
.cid-rcb8yDIvsY .menu-logo .navbar-brand {
  display: -webkit-flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rcb8yDIvsY .menu-logo .navbar-brand .navbar-caption-wrap {
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rcb8yDIvsY .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rcb8yDIvsY .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rcb8yDIvsY .menu-logo .navbar-brand .navbar-logo img {
  display: -webkit-flex;
}
.cid-rcb8yDIvsY .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rcb8yDIvsY .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-rcb8yDIvsY .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-rcb8yDIvsY .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rcb8yDIvsY .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rcb8yDIvsY .dropdown .dropdown-menu {
  background: #333333;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-rcb8yDIvsY .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-rcb8yDIvsY .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rcb8yDIvsY .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rcb8yDIvsY .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rcb8yDIvsY .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-rcb8yDIvsY .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-rcb8yDIvsY .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-rcb8yDIvsY .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rcb8yDIvsY .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rcb8yDIvsY .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rcb8yDIvsY .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rcb8yDIvsY button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-rcb8yDIvsY button.navbar-toggler:focus {
  outline: none;
}
.cid-rcb8yDIvsY button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-rcb8yDIvsY button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rcb8yDIvsY button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rcb8yDIvsY button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rcb8yDIvsY button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rcb8yDIvsY nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rcb8yDIvsY nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rcb8yDIvsY nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rcb8yDIvsY nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rcb8yDIvsY .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rcb8yDIvsY .collapsed .btn {
  display: -webkit-flex;
}
.cid-rcb8yDIvsY .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rcb8yDIvsY .collapsed .navbar-collapse.collapsing,
.cid-rcb8yDIvsY .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rcb8yDIvsY .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rcb8yDIvsY .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rcb8yDIvsY .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rcb8yDIvsY .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rcb8yDIvsY .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rcb8yDIvsY .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rcb8yDIvsY .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rcb8yDIvsY .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-rcb8yDIvsY .collapsed button.navbar-toggler {
  display: block;
}
.cid-rcb8yDIvsY .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-rcb8yDIvsY .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rcb8yDIvsY .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-rcb8yDIvsY .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rcb8yDIvsY .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rcb8yDIvsY .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-rcb8yDIvsY.navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rcb8yDIvsY img {
    height: 3.8rem !important;
  }
  .cid-rcb8yDIvsY .btn {
    display: -webkit-flex;
  }
  .cid-rcb8yDIvsY button.navbar-toggler {
    display: block;
  }
  .cid-rcb8yDIvsY .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-rcb8yDIvsY .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rcb8yDIvsY .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rcb8yDIvsY .navbar-collapse.collapsing,
  .cid-rcb8yDIvsY .navbar-collapse.show {
    display: block !important;
  }
  .cid-rcb8yDIvsY .navbar-collapse.collapsing .navbar-nav,
  .cid-rcb8yDIvsY .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rcb8yDIvsY .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rcb8yDIvsY .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rcb8yDIvsY .navbar-collapse.collapsing .navbar-buttons,
  .cid-rcb8yDIvsY .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rcb8yDIvsY .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rcb8yDIvsY .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rcb8yDIvsY .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-rcb8yDIvsY .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rcb8yDIvsY .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rcb8yDIvsY .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-rcb8yDIvsY .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-rcb8yDIvsY .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-rcb8yDIvsY .nav-link:hover,
.cid-rcb8yDIvsY .dropdown-item:hover {
  color: #767676 !important;
}
.cid-rzVKZwlq48 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/innov-pledge1-logo-2-2000x887.png");
}
.cid-rzVKZwlq48 P {
  color: #767676;
}
.cid-rzVKZwlq48 H1 {
  color: #ffffff;
}
.cid-rzVKZwlq48 .mbr-text,
.cid-rzVKZwlq48 .mbr-section-btn {
  color: #ffffff;
}
.cid-rzVB6M50MO {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rzVB6M50MO .mbr-section-subtitle {
  color: #767676;
  font-weight: 300;
}
.cid-rzVB6M50MO .mbr-content-text {
  color: #767676;
  margin-bottom: 0;
}
.cid-rzVB6M50MO .card {
  word-wrap: break-word;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
.cid-rzVB6M50MO .img-text {
  width: 64px;
  height: 64px;
  font-size: 32px;
  border: 2px solid #fdbe10;
  border-radius: 50%;
}
@media (max-width: 991px) {
  .cid-rzVB6M50MO .img-text {
    width: 48px;
    height: 48px;
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  .cid-rzVB6M50MO .cards-block {
    border-top: 2px solid #fdbe10;
  }
}
.cid-rzVB6M50MO .cards-block .card {
  border-bottom: 2px solid #fdbe10;
  border-radius: 0;
}
.cid-rzVB6M50MO .cards-container {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  word-break: break-word;
}
.cid-rzVB6M50MO .media-block {
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
@media (min-width: 992px) {
  .cid-rzVB6M50MO .media-block {
    padding-right: 2rem;
  }
}
.cid-rzVB6M50MO .cards-block {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
@media (max-width: 991px) {
  .cid-rzVB6M50MO .media-block {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
    padding-left: 0;
    padding-bottom: 2rem;
  }
}
.cid-rzVM7gf6aY {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/bigsmile-clr-619x554.png");
}
.cid-rzVM7gf6aY H2 {
  color: #333333;
}
.cid-rzVM7gf6aY H3 {
  color: #333333;
}
.cid-rzVUy7mquv {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/innov-pledge1-logo-2-2000x887.png");
}
.cid-rzVUy7mquv H2 {
  color: #000000;
}
.cid-rzVUy7mquv H3 {
  color: #333333;
}
.cid-rzVJFrgLLX {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/king-middle-school-87-2000x1333.jpg");
}
.cid-rzVJFrgLLX .mbr-section-subtitle {
  color: #000000;
  text-align: center;
  font-weight: 300;
}
.cid-rzVJFrgLLX .step {
  width: 60px;
  height: 60px;
  font-size: 30px;
  border-radius: 50%;
  border: 2px solid #00677f;
}
@media (max-width: 767px) {
  .cid-rzVJFrgLLX .step {
    width: 48px;
    height: 48px;
    font-size: 24px;
  }
}
.cid-rzVJFrgLLX .separline {
  position: relative;
}
.cid-rzVJFrgLLX .separline:after {
  top: 64px;
  left: 28px;
  position: absolute;
  content: "";
  width: 2px;
  height: calc(100% - (30px + 4px) * 2);
  background-color: #00677f;
}
@media (max-width: 767px) {
  .cid-rzVJFrgLLX .separline:after {
    top: 52px;
    left: 22px;
    height: calc(100% - 56px);
  }
}
.cid-rzVJFrgLLX .mbr-step-title {
  color: #00677f;
}
.cid-ri7HVBWYKs {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/00-crayons-2000x1333.jpg");
}
.cid-ri7HVBWYKs .nav-tabs .nav-item.open .nav-link:focus,
.cid-ri7HVBWYKs .nav-tabs .nav-link.active:focus {
  outline: none;
}
.cid-ri7HVBWYKs .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: none;
}
.cid-ri7HVBWYKs .nav-tabs .nav-item {
  padding: .5rem;
}
.cid-ri7HVBWYKs .nav-tabs .nav-link {
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  border: 1px solid #ffffff;
  transition: all .5s;
}
.cid-ri7HVBWYKs .nav-tabs .nav-link:hover {
  cursor: pointer;
  background-color: #fdbe10;
}
.cid-ri7HVBWYKs .nav-tabs .nav-link.active {
  font-weight: 500;
  color: #000000;
  font-style: normal;
  background-color: #fdbe10;
  border-color: #fdbe10;
}
.cid-ri7HVBWYKs .nav-tabs .nav-link.active:hover {
  background-color: #fdbe10;
}
.cid-ri7HVBWYKs p {
  color: #ffffff;
}
.cid-ri7HVBWYKs .mbr-text {
  text-align: center;
}
.cid-rzW4lLMKx8 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rzW4lLMKx8 P {
  color: #767676;
}
.cid-rDcbSrAvNh {
  padding-top: 0px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-rDcbSrAvNh .google-map {
  height: 25rem;
  position: relative;
}
.cid-rDcbSrAvNh .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-rDcbSrAvNh .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-rDcbSrAvNh .google-map[data-state] {
  background: #e9e5dc;
}
.cid-rDcbSrAvNh .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-rAzNX9VNAK {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #333333;
}
.cid-rAzNX9VNAK .carousel-control {
  background: #000;
}
.cid-rAzNX9VNAK .mbr-section-subtitle {
  color: #efefef;
  text-align: center;
}
.cid-rAzNX9VNAK .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rAzNX9VNAK .carousel-item .media-container-row {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.cid-rAzNX9VNAK .carousel-item .wrap-img {
  text-align: center;
}
.cid-rAzNX9VNAK .carousel-item .wrap-img img {
  max-height: 150px;
  width: auto;
  max-width: 100%;
}
.cid-rAzNX9VNAK .carousel-controls {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rAzNX9VNAK .carousel-controls .carousel-control {
  background: #000;
  border-radius: 50%;
  position: static;
  width: 40px;
  height: 40px;
  margin-top: 2rem;
  border-width: 1px;
}
.cid-rAzNX9VNAK .carousel-controls .carousel-control.carousel-control-prev {
  left: auto;
  margin-right: 20px;
  margin-left: 0;
}
.cid-rAzNX9VNAK .carousel-controls .carousel-control.carousel-control-next {
  right: auto;
  margin-right: 0;
}
.cid-rAzNX9VNAK .carousel-controls .carousel-control .mbr-iconfont {
  font-size: 1rem;
}
.cid-rAzNX9VNAK .cloneditem-1,
.cid-rAzNX9VNAK .cloneditem-2,
.cid-rAzNX9VNAK .cloneditem-3,
.cid-rAzNX9VNAK .cloneditem-4,
.cid-rAzNX9VNAK .cloneditem-5 {
  display: none;
}
.cid-rAzNX9VNAK .col-lg-15 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}
@media (min-width: 992px) {
  .cid-rAzNX9VNAK .col-lg-15 {
    -ms-flex: 0 0 20%;
    -webkit-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    width: 20%;
  }
  .cid-rAzNX9VNAK .carousel-inner.slides2 > .carousel-item.active.carousel-item-right,
  .cid-rAzNX9VNAK .carousel-inner.slides2 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
  .cid-rAzNX9VNAK .carousel-inner.slides2 > .carousel-item.active.carousel-item-left,
  .cid-rAzNX9VNAK .carousel-inner.slides2 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  .cid-rAzNX9VNAK .carousel-inner.slides2 > .carousel-item.carousel-item-left,
  .cid-rAzNX9VNAK .carousel-inner.slides2 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-rAzNX9VNAK .carousel-inner.slides2 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-rAzNX9VNAK .carousel-inner.slides2 .cloneditem-1,
  .cid-rAzNX9VNAK .carousel-inner.slides2 .cloneditem-2,
  .cid-rAzNX9VNAK .carousel-inner.slides2 .cloneditem-3 {
    display: block;
  }
  .cid-rAzNX9VNAK .carousel-inner.slides3 > .carousel-item.active.carousel-item-right,
  .cid-rAzNX9VNAK .carousel-inner.slides3 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(33.333333%, 0, 0);
    transform: translate3d(33.333333%, 0, 0);
  }
  .cid-rAzNX9VNAK .carousel-inner.slides3 > .carousel-item.active.carousel-item-left,
  .cid-rAzNX9VNAK .carousel-inner.slides3 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-33.333333%, 0, 0);
    transform: translate3d(-33.333333%, 0, 0);
  }
  .cid-rAzNX9VNAK .carousel-inner.slides3 > .carousel-item.carousel-item-left,
  .cid-rAzNX9VNAK .carousel-inner.slides3 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-rAzNX9VNAK .carousel-inner.slides3 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-rAzNX9VNAK .carousel-inner.slides3 .cloneditem-1,
  .cid-rAzNX9VNAK .carousel-inner.slides3 .cloneditem-2,
  .cid-rAzNX9VNAK .carousel-inner.slides3 .cloneditem-3 {
    display: block;
  }
  .cid-rAzNX9VNAK .carousel-inner.slides4 > .carousel-item.active.carousel-item-right,
  .cid-rAzNX9VNAK .carousel-inner.slides4 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
  }
  .cid-rAzNX9VNAK .carousel-inner.slides4 > .carousel-item.active.carousel-item-left,
  .cid-rAzNX9VNAK .carousel-inner.slides4 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
  }
  .cid-rAzNX9VNAK .carousel-inner.slides4 > .carousel-item.carousel-item-left,
  .cid-rAzNX9VNAK .carousel-inner.slides4 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-rAzNX9VNAK .carousel-inner.slides4 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-rAzNX9VNAK .carousel-inner.slides4 .cloneditem-1,
  .cid-rAzNX9VNAK .carousel-inner.slides4 .cloneditem-2,
  .cid-rAzNX9VNAK .carousel-inner.slides4 .cloneditem-3 {
    display: block;
  }
  .cid-rAzNX9VNAK .carousel-inner.slides5 > .carousel-item.active.carousel-item-right,
  .cid-rAzNX9VNAK .carousel-inner.slides5 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }
  .cid-rAzNX9VNAK .carousel-inner.slides5 > .carousel-item.active.carousel-item-left,
  .cid-rAzNX9VNAK .carousel-inner.slides5 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }
  .cid-rAzNX9VNAK .carousel-inner.slides5 > .carousel-item.carousel-item-left,
  .cid-rAzNX9VNAK .carousel-inner.slides5 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-rAzNX9VNAK .carousel-inner.slides5 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-rAzNX9VNAK .carousel-inner.slides5 .cloneditem-1,
  .cid-rAzNX9VNAK .carousel-inner.slides5 .cloneditem-2,
  .cid-rAzNX9VNAK .carousel-inner.slides5 .cloneditem-3,
  .cid-rAzNX9VNAK .carousel-inner.slides5 .cloneditem-4 {
    display: block;
  }
  .cid-rAzNX9VNAK .carousel-inner.slides6 > .carousel-item.active.carousel-item-right,
  .cid-rAzNX9VNAK .carousel-inner.slides6 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(16.666667%, 0, 0);
    transform: translate3d(16.666667%, 0, 0);
  }
  .cid-rAzNX9VNAK .carousel-inner.slides6 > .carousel-item.active.carousel-item-left,
  .cid-rAzNX9VNAK .carousel-inner.slides6 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-16.666667%, 0, 0);
    transform: translate3d(-16.666667%, 0, 0);
  }
  .cid-rAzNX9VNAK .carousel-inner.slides6 > .carousel-item.carousel-item-left,
  .cid-rAzNX9VNAK .carousel-inner.slides6 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-rAzNX9VNAK .carousel-inner.slides6 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-rAzNX9VNAK .carousel-inner.slides6 .cloneditem-1,
  .cid-rAzNX9VNAK .carousel-inner.slides6 .cloneditem-2,
  .cid-rAzNX9VNAK .carousel-inner.slides6 .cloneditem-3,
  .cid-rAzNX9VNAK .carousel-inner.slides6 .cloneditem-4,
  .cid-rAzNX9VNAK .carousel-inner.slides6 .cloneditem-5 {
    display: block;
  }
}
.cid-rAzNX9VNAK H2 {
  color: #fdbe10;
}
.cid-riccSnL9t8 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-riccSnL9t8 .carousel-control {
  background: #000;
}
.cid-riccSnL9t8 .mbr-section-subtitle {
  color: #333333;
}
.cid-riccSnL9t8 .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-riccSnL9t8 .carousel-item .media-container-row {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.cid-riccSnL9t8 .carousel-item .wrap-img {
  text-align: center;
}
.cid-riccSnL9t8 .carousel-item .wrap-img img {
  max-height: 150px;
  width: auto;
  max-width: 100%;
}
.cid-riccSnL9t8 .carousel-controls {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-riccSnL9t8 .carousel-controls .carousel-control {
  background: #000;
  border-radius: 50%;
  position: static;
  width: 40px;
  height: 40px;
  margin-top: 2rem;
  border-width: 1px;
}
.cid-riccSnL9t8 .carousel-controls .carousel-control.carousel-control-prev {
  left: auto;
  margin-right: 20px;
  margin-left: 0;
}
.cid-riccSnL9t8 .carousel-controls .carousel-control.carousel-control-next {
  right: auto;
  margin-right: 0;
}
.cid-riccSnL9t8 .carousel-controls .carousel-control .mbr-iconfont {
  font-size: 1rem;
}
.cid-riccSnL9t8 .cloneditem-1,
.cid-riccSnL9t8 .cloneditem-2,
.cid-riccSnL9t8 .cloneditem-3,
.cid-riccSnL9t8 .cloneditem-4,
.cid-riccSnL9t8 .cloneditem-5 {
  display: none;
}
.cid-riccSnL9t8 .col-lg-15 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}
@media (min-width: 992px) {
  .cid-riccSnL9t8 .col-lg-15 {
    -ms-flex: 0 0 20%;
    -webkit-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    width: 20%;
  }
  .cid-riccSnL9t8 .carousel-inner.slides2 > .carousel-item.active.carousel-item-right,
  .cid-riccSnL9t8 .carousel-inner.slides2 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
  .cid-riccSnL9t8 .carousel-inner.slides2 > .carousel-item.active.carousel-item-left,
  .cid-riccSnL9t8 .carousel-inner.slides2 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  .cid-riccSnL9t8 .carousel-inner.slides2 > .carousel-item.carousel-item-left,
  .cid-riccSnL9t8 .carousel-inner.slides2 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-riccSnL9t8 .carousel-inner.slides2 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-riccSnL9t8 .carousel-inner.slides2 .cloneditem-1,
  .cid-riccSnL9t8 .carousel-inner.slides2 .cloneditem-2,
  .cid-riccSnL9t8 .carousel-inner.slides2 .cloneditem-3 {
    display: block;
  }
  .cid-riccSnL9t8 .carousel-inner.slides3 > .carousel-item.active.carousel-item-right,
  .cid-riccSnL9t8 .carousel-inner.slides3 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(33.333333%, 0, 0);
    transform: translate3d(33.333333%, 0, 0);
  }
  .cid-riccSnL9t8 .carousel-inner.slides3 > .carousel-item.active.carousel-item-left,
  .cid-riccSnL9t8 .carousel-inner.slides3 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-33.333333%, 0, 0);
    transform: translate3d(-33.333333%, 0, 0);
  }
  .cid-riccSnL9t8 .carousel-inner.slides3 > .carousel-item.carousel-item-left,
  .cid-riccSnL9t8 .carousel-inner.slides3 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-riccSnL9t8 .carousel-inner.slides3 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-riccSnL9t8 .carousel-inner.slides3 .cloneditem-1,
  .cid-riccSnL9t8 .carousel-inner.slides3 .cloneditem-2,
  .cid-riccSnL9t8 .carousel-inner.slides3 .cloneditem-3 {
    display: block;
  }
  .cid-riccSnL9t8 .carousel-inner.slides4 > .carousel-item.active.carousel-item-right,
  .cid-riccSnL9t8 .carousel-inner.slides4 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
  }
  .cid-riccSnL9t8 .carousel-inner.slides4 > .carousel-item.active.carousel-item-left,
  .cid-riccSnL9t8 .carousel-inner.slides4 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
  }
  .cid-riccSnL9t8 .carousel-inner.slides4 > .carousel-item.carousel-item-left,
  .cid-riccSnL9t8 .carousel-inner.slides4 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-riccSnL9t8 .carousel-inner.slides4 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-riccSnL9t8 .carousel-inner.slides4 .cloneditem-1,
  .cid-riccSnL9t8 .carousel-inner.slides4 .cloneditem-2,
  .cid-riccSnL9t8 .carousel-inner.slides4 .cloneditem-3 {
    display: block;
  }
  .cid-riccSnL9t8 .carousel-inner.slides5 > .carousel-item.active.carousel-item-right,
  .cid-riccSnL9t8 .carousel-inner.slides5 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }
  .cid-riccSnL9t8 .carousel-inner.slides5 > .carousel-item.active.carousel-item-left,
  .cid-riccSnL9t8 .carousel-inner.slides5 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }
  .cid-riccSnL9t8 .carousel-inner.slides5 > .carousel-item.carousel-item-left,
  .cid-riccSnL9t8 .carousel-inner.slides5 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-riccSnL9t8 .carousel-inner.slides5 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-riccSnL9t8 .carousel-inner.slides5 .cloneditem-1,
  .cid-riccSnL9t8 .carousel-inner.slides5 .cloneditem-2,
  .cid-riccSnL9t8 .carousel-inner.slides5 .cloneditem-3,
  .cid-riccSnL9t8 .carousel-inner.slides5 .cloneditem-4 {
    display: block;
  }
  .cid-riccSnL9t8 .carousel-inner.slides6 > .carousel-item.active.carousel-item-right,
  .cid-riccSnL9t8 .carousel-inner.slides6 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(16.666667%, 0, 0);
    transform: translate3d(16.666667%, 0, 0);
  }
  .cid-riccSnL9t8 .carousel-inner.slides6 > .carousel-item.active.carousel-item-left,
  .cid-riccSnL9t8 .carousel-inner.slides6 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-16.666667%, 0, 0);
    transform: translate3d(-16.666667%, 0, 0);
  }
  .cid-riccSnL9t8 .carousel-inner.slides6 > .carousel-item.carousel-item-left,
  .cid-riccSnL9t8 .carousel-inner.slides6 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-riccSnL9t8 .carousel-inner.slides6 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-riccSnL9t8 .carousel-inner.slides6 .cloneditem-1,
  .cid-riccSnL9t8 .carousel-inner.slides6 .cloneditem-2,
  .cid-riccSnL9t8 .carousel-inner.slides6 .cloneditem-3,
  .cid-riccSnL9t8 .carousel-inner.slides6 .cloneditem-4,
  .cid-riccSnL9t8 .carousel-inner.slides6 .cloneditem-5 {
    display: block;
  }
}
.cid-riccSnL9t8 H2 {
  color: #000000;
}
.cid-rzWY4ns3OK {
  padding-top: 90px;
  padding-bottom: 90px;
  background: linear-gradient(0deg, #36a9bc, #00677f);
}
.cid-rzWY4ns3OK .mbr-iconfont-social {
  font-size: 32px;
  color: #fdbe10;
}
.cid-rzWY4ns3OK .social-list a:focus {
  text-decoration: none;
}
.cid-rzWY4ns3OK H2 {
  color: #ffffff;
}
.cid-ricg6pUhzX {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2e2e2e;
}
